<a href="https://colab.research.google.com/github/alfonso-santos/Introduccion-a-Python-para-las-Finanzas-2024/blob/main/Modulo_02_Aplicaciones_Financieras/src/Ejercicios_intro_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crea un DataFrame llamado df que contenga los siguientes datos sobre productos:

In [ ]:
Producto: ['Manzana', 'Banana', 'Naranja', 'Pera', 'Kiwi']
Precio: [1.5, 0.5, 1.2, 1.0, 2.0]
Cantidad: [100, 150, 200, 120, 80]
Categoría: ['Fruta', 'Fruta', 'Fruta', 'Fruta', 'Fruta']

# Ejercicio 1

2. Acceso a Filas y Columnas
* Ejercicio 2.1: Accede a la primera fila del DataFrame df y muéstrala.
* Ejercicio 2.2: Accede a la columna Precio y muéstrala

In [ ]:
# Ejercicio 2

3. Filtrar Datos: Filtra los productos cuyo precio sea mayor a 1.0 y muéstralos.

In [ ]:
# Ejercicio 3

4. Calcular el Valor Total: Crea una nueva columna llamada Valor Total que calcule el valor total de cada producto (Precio × Cantidad)

In [ ]:
# Ejercicio 4

5. Estadísticas Básicas: Calcula y muestra la media del precio y la cantidad de los productos.

In [ ]:
# Ejercicio 5

6. Agrupar Datos: Agrupa los productos por Categoría y calcula la suma del Valor Total para cada categoría.

In [ ]:
# Ejercicio 6

7. Ordenar Datos: Ordena el DataFrame por Precio de forma descendente y muéstralo.

In [ ]:
# Ejercicio 7

8. Datos Faltantes: Crea un DataFrame df2 que contenga algunos valores faltantes (por ejemplo, usa np.nan para representar valores faltantes). Luego, usa el método .fillna() para rellenar esos valores con 0.

In [ ]:
# Ejercicio 8

9. Crear un DataFrame a Partir de un Diccionario: Crea tu propio DataFrame utilizando un diccionario que contenga al menos 5 productos con sus precios y cantidades.

In [ ]:
# Ejercicio 9